{% extends 'includes/base.html' %}
{% load static %}
{% block title %}Edit Post{% endblock title %}
{% block content %}
<section class="section">
  <div class="container">
    <div class="card">
      <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="card-content">
              <div class="content">
                  {{post_form.content}}
                  <div class="mt-6">
                    <p class="subtitle is-5">Current Image</p>
                  <img src="{{obj.image.url}}" class="image" alt="">
                </div>
              </div>
          </div>
          <footer class="card-footer">
              <div class="file is-small card-footer-item">
                  <div class="file is-white">
                      <label class="file-label is-fullwidth">
                          <input class="file-input" type="file" name="image">
                          <span class="file-cta">
                              <span class="file-icon">
                                  <i class="material-icons">photo</i>
                              </span>
                              <span class="file-label">
                                  Change Photo
                              </span>
                          </span>
                      </label>
                  </div>
              </div>
              <div class="card-footer-item">
                  <button type="submit" name="post_btn"
                      class=" button is-primary is-fullwidth">Save</button>
              </div>
          </footer>
      </form>
  </div>
  </div>
  </div>
  </div>
</section>
{% endblock content %}