{% extends 'includes/base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block content %}
<section class="section">
  <div class="container">

    <div class="card">
      <div class="card-content">
        <div class="content">
          <div class="columns is-vcentered">
            <div class="column is-6">
              <article class="media">
                <figure class="media-left">
                  <p class="image is-128x128">
                    <img src="{{obj.avatar.url}}" class="is-rounded">
                  </p>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <p>
                    <h4 class="title is-4">{{obj.full_name}}</h4>
                    <p class="subtitle is-6">{{obj.email}}</p>

                    {{obj.bio}}
                    </p>
                  </div>
                  <nav class="level is-mobile">
                    <div class="level-left">
                      <a class="level-item">
                        {% ifequal obj.pk request.user.pk %}
                        <button class="button is-primary" id="showModal">Edit Profile</button>
                        {% endifequal%}
                      </a>
                      <!-- ADD User -->
                      {% if obj not in requests_receivers and obj not in requests_senders %}
                      <div class="level-item">
                        <form action="{% url 'profiles:send-request' %}" method="post">
                          {% csrf_token %}
                          <input type="hidden" name="profile_pk" value="{{obj.pk}}">
                          <button type="submit" class="button is-primary">Send request</button>
                        </form>
                      </div>
                      {% endif %}
                      {% if obj in requests_receivers and request.user not in obj.friends.all %}
                      <div class="level-item">
                        <button type="submit" class="button is-info" disabled>Request send</button>
                      </div>
                      {% endif %}
                      {% if request.user in obj.friends.all %}
                      <div class="level-item">
                        <form action="{% url 'profiles:remove-friend' %}" method="post">
                          {% csrf_token %}
                          <input type="hidden" name="profile_pk" value="{{obj.pk}}">
                          <button type="submit" class="button is-danger">Unfriend</button>
                        </form>
                      </div>
                      {% endif %}
                      <!-- END -->
                    </div>
                  </nav>
                </div>
              </article>
            </div>
            <div class="column is-6 has-text-centered">
              <nav class="level">
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">Friends</p>
                    <p class="title">{{obj.get_number_of_friends}}</p>
                  </div>
                </div>
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">Posts</p>
                    <p class="title">{{obj.get_number_of_posts}}</p>
                  </div>
                </div>
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">Likes</p>
                    <p class="title">{{obj.get_number_of_likes_received}}</p>
                  </div>
                </div>
              </nav>
            </div>

          </div>
        </div>
      </div>
    </div>
    <section class="section">
      <div class="container">
        <article class="panel is-primary">
          <p class="panel-heading">
            Posts
          </p>
          <div class="panel-block">
            <p class="control has-icons-left">
              <input class="input is-primary" type="text" placeholder="Search">
              <span class="icon is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
              </span>
            </p>
          </div>
          {% for item in obj.get_all_author_posts %}
          <a href="{% url 'posts:post-list-view' %}" class="panel-block is-active">
            <span class="panel-icon">
              <i class="fas fa-book" aria-hidden="true"></i>
            </span>
            {{item.content}}
          </a>
          {% empty %}
          <p class="subtitlt">User has not posted yet!</p>
          {% endfor %}
        </article>
      </div>
    </section>
    <!-- Edit Profile Modal -->
    <div class="modal" id="editProfile">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Edit Profile</p>
          <button class="delete" id="editProfileClose" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="field">
              <label class="label">{{form.first_name.label}}</label>
              <div class="control">
                {{form.first_name}}
              </div>
            </div>
            <div class="field">
              <label class="label">{{form.last_name.label}}</label>
              <div class="control">
                {{form.last_name}}
              </div>
            </div>
            <div class="field">
              <label class="label">{{form.country.label}}</label>
              <div class="control">
                {{form.country}}
              </div>
            </div>
            <div class="field">
              <label class="label">{{form.bio.label}}</label>
              <div class="control">
                {{form.bio}}
              </div>
            </div>
            <div id="uploadAvatar" class="file has-name is-right is-fullwidth">
              <label class="file-label">
                <input class="file-input" type="file" name="avatar">
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="material-icons">upload</i>
                  </span>
                  <span class="file-label">
                    Choose a photo…
                  </span>
                </span>
                <span class="file-name">
                  {% if obj.avatar %}
                  {{obj.avatar.name}}
                  {% else %}
                  No file uploaded
                  {% endif %}
                </span>
              </label>
            </div>

            <script>
              const fileInput = document.querySelector('#uploadAvatar input[type=file]');
              fileInput.onchange = () => {
                if (fileInput.files.length > 0) {
                  const fileName = document.querySelector('#uploadAvatar .file-name');
                  fileName.textContent = fileInput.files[0].name;
                }
              }
            </script>
        </section>
        <footer class="modal-card-foot">
          <button type="submit" class="button is-success">Save changes</button>
        </footer>
        </form>
      </div>
    </div>
  </div>
  </div>
  </div>
  <script>
    var btn = document.querySelector('#showModal');
    var modalDlg = document.querySelector('#editProfile');
    var editProfileCloseBtn = document.querySelector('#editProfileClose');
    btn.addEventListener('click', function () {
      modalDlg.classList.add('is-active');
    });

    editProfileCloseBtn.addEventListener('click', function () {
      modalDlg.classList.remove('is-active');
    });
  </script>
</section>

{% endblock content %}