{% extends 'includes/base.html' %}
{% load static %}
{% block title %}Suggested friends{% endblock title %}
{% block content %}
<section class="section">
    <div class="container">
        <p class="title is-5">Your Suggested Friends</p>
        <div class="columns is-multiline has-background-grey-lighter">
            {% for obj in qs %}
            <div class="column is-2">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                          <img src="{{obj.sender.avatar.url}}" alt="User avatar">
                        </figure>
                      </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                              <p class="title is-6">{{obj.sender.full_name}}</p>
                            </div>
                          </div>
                    </div>
                    <footer class="card-footer">
                      <a href="#" class="card-footer-item">Add Friend</a>
                      <!-- <a href="#" class="card-footer-item">Delete</a> -->
                    </footer>
                  </div>
            </div>
            {% endfor %}

        </div>
    </div>

</section>
{% endblock content %}